body {
    background-color: lightgray;
}

h1 {
    color: darkblue;
    font-family: 'Reenie Beanie', cursive;
    font-size: 300%;
}

h1:hover {
    color: dodgerblue;
}

p {
    font-family: 'Lora', serif;
    font-size: 125%;
}

.mainbox {
    text-align: center;
}